* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.to-do {
  position: absolute;
  left: 20%;
  top: 20%;
  right: 20%;
  box-shadow: 4px 6px #fff;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: #808080;
}

.to-do .today {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #6e6a6a;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: #fff;
}

.to-do .add-text {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #fff;
}

.to-do .add-text input {
  font-style: italic;
  width: 90%;
}

.to-do .todos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.to-do .todo-item {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 15px 15px;
}

.to-do input[type=text] {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

.to-do .todo-item input[type=text] {
  flex-grow: 1;
}

.to-do .button {
  display: flex;
  justify-content: center;
  background-color: #c7c3c3;
  padding: 10px;
}

.to-do .button button {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: rgb(121, 116, 116);
}

.trash {
  display: none;
}
