* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 0.5rem;
  width: 45%;
  font-size: 2rem;
  border: 2px solid #000;
  background: white;
}

form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: 2px solid #000;
  background: white;
  cursor: pointer;
  transition: all 0.5s;
}

form button:hover {
  background-color: #000;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 40%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  border: 2px solid #000;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo li {
  flex: 1;
}

.check-btn,
.delete-btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.check-btn {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.check {
  text-decoration: line-through;
  opacity: 0.5;
}

.todo-item {
  padding: 0 0.5rem;
}
